<!DOCTYPE html>
<%- include("./partials/head.ejs") %> 
<body>
<%- include("./partials/nav.ejs") %> 
<div class="about">
    <h3>About Page</h3>
</div>
<%- include("./partials/footer.ejs") %> 
</body>
</html>